In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dataset = pd.read_csv('placement (1).csv')
dataset.head(5)

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [5]:
dataset.isnull().sum()

cgpa       0
package    0
dtype: int64

In [7]:
x = dataset.iloc[:, :-1]
y = dataset['package']

In [8]:
new_data = dataset.head(10)

In [13]:
x_new = new_data.iloc[:,:-1]
y_new = new_data['package']

In [14]:
from sklearn.model_selection import LeaveOneOut, LeavePOut, KFold, StratifiedKFold

### LeaveOneOut

In [15]:
lo = LeaveOneOut()

for train,  test in lo.split(x_new,y_new):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [16]:
new_data

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57
5  7.89     2.99
6  6.73     2.60
7  6.75     2.48
8  6.09     2.31
9  8.31     3.51

### LeavePOut

In [18]:
lp = LeavePOut(p=2)                 # seprating desired number in testing

for train,  test in lo.split(x_new,y_new):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

### KFold

In [19]:
kf = KFold(n_splits=5)

for train,  test in lo.split(x_new,y_new):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [21]:
# StratifiedKFold only works in CLASSIFICATION , same method

### Cross Validation

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
from sklearn.model_selection import cross_val_score

In [44]:
p= cross_val_score(LinearRegression(),x,y,cv=9)

In [45]:
p.sort()
p

array([0.59036878, 0.6539206 , 0.67018528, 0.70331893, 0.75389945,
       0.79329894, 0.80620983, 0.81450183, 0.86765497])

In [46]:
# change 'cv' value to get best accuracy